.container {
  position: relative;
  background-color: rgb(156, 217, 253);

  margin-bottom: 10px;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}
.field {
  margin-bottom: 30px;
}

.field input:focus {
  border-color: rgb(13, 46, 234);
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  width: fit-content;
  color: rgb(41, 117, 82);
}

.btn {
  display: block;
  width: 125px;
  font-size: 14px;
  margin: 0 auto;
  border-radius: 5px;
  border-color: transparent;
  padding: 5px;
  background-color: rgb(118, 181, 204);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: rgb(109, 166, 186);
}

.loader {
  font-size: 20px;
  position: absolute;
  top: 153%;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .form {
    flex-direction: row;
    gap: 35px;
    align-items: center;
    padding: 35px 15px;
  }
  .btn {
    margin: 0;
  }
  .loader {
    position: absolute;
    top: 158%;
    left: 50%;
    transform: translateX(-50%);
  }
}
