.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  border-radius: 5px;
}

.table td,
.table tr {
  border: 1px solid #333;
}

.title th {
  border-left: 1px solid #333;
}

.title th {
  background-color: rgba(59, 123, 160, 0.3);
  font-size: 10px;
}

.table th:nth-child(1) {
  width: 70px;
}

.table th:nth-child(2) {
  min-width: 100px;
}

.table th:nth-child(3) {
  width: 70px;
}

.table th:last-child {
  width: 50px;
}

@media (min-width: 768px) {
  .table th:nth-child(1) {
    width: 150px;
  }

  .table th:nth-child(2) {
    min-width: 250px;
  }

  .table th:nth-child(3) {
    width: 150px;
  }

  .title th {
    font-size: 15px;
  }
}
