.filter {
  display: flex;
  flex-direction: column;
  background-color: rgb(156, 217, 253);
  padding: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 5px;
}

.field {
  display: flex;
  align-items: center;
}

.field:not(:last-child) {
  margin-bottom: 3px;
}

@media (min-width: 768px) {
  .filter {
    flex-direction: row;
    gap: 35px;
  }
}
