.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal {
  position: relative;
  inset: 0px;
  width: 300px;
  padding: 30px;
  border-radius: 3px;
  background-color: rgb(156, 217, 253);
  margin: auto;
}

.text {
  text-align: center;
  overflow-wrap: break-word;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
}
.btn {
  display: block;
  font-size: 14px;
  margin: 0 auto;
  border-radius: 5px;
  border-color: transparent;
  padding: 5px;
  background-color: rgb(118, 181, 204);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: rgb(109, 166, 186);
}
