.item {
  text-align: center;

  font-size: 12px;
  padding: 7px;
  overflow-wrap: break-word;
}

.itemBtn {
  text-align: center;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  background-color: transparent;
}

@media (min-width: 768px) {
  .item {
    padding: 15px;
  }
}
